In [5]:
import pandas as pd
import numpy as np
dates = pd.date_range('1/1/2000', periods=8)
df = pd.DataFrame(np.random.randn(8, 4),
                  index=dates, 
                  columns=['A', 'B', 'C', 'D'])
df

                   A         B         C         D
2000-01-01  0.270118 -0.360021  0.230618 -0.552465
2000-01-02 -1.028209 -0.394163  0.581368  0.206908
2000-01-03  0.795006  0.534976  2.009564 -0.367644
2000-01-04  1.009908 -1.193193 -0.766619  0.683156
2000-01-05 -0.076405  1.343472  1.612256 -0.433800
2000-01-06 -1.277038  0.071716  0.727193  0.814106
2000-01-07 -1.445123 -1.262917 -1.613146  1.006601
2000-01-08 -0.416564 -2.526252  1.785618  0.414044

In [6]:
sa = pd.Series([1, 2, 3], index=list('abc'))
sa

a    1
b    2
c    3
dtype: int64

In [7]:
dfa = df.copy()

In [8]:
sa.b

2

In [10]:
sa.a = 5

In [11]:
sa

a    5
b    2
c    3
dtype: int64